<%= react_component('Nav') %>
<input type="hidden" id="fruit" name="fruit" value="<%= @fruit %>">
<input type="hidden" id="veg" name="veg" value="<%= @veg %>">
<input type="hidden" id="liquid" name="liquid" value="<%= @liquid %>">
<input type="hidden" id="seednut" name="seednut" value="<%= @seednut %>">
<input type="hidden" id="herb" name="herb" value="<%= @herb %>">

<div id="nutritional-container">
  <h1 class="headline">Grading and nutritional facts</h1>
  <div id="score">
    <h1 id="grade"></h1>
  </div>
  <div id='nutritional-label'>
  </div>
  <h1 id=info></h1>
  <h2>* Smoothies are currently being graded with a general health formula that takes the values of omega threes, fiber and vitamin C and compares them of recommended daily value.</h2>
</div>
