<%= react_component('Nav') %>
<input type="hidden" id="fruit" name="fruit" value="<%= @fruit %>">
<input type="hidden" id="veg" name="veg" value="<%= @veg %>">
<input type="hidden" id="liquid" name="liquid" value="<%= @liquid %>">
<input type="hidden" id="seednut" name="seednut" value="<%= @seednut %>">
<input type="hidden" id="herb" name="herb" value="<%= @herb %>">
<div id='nutritional-label'>
</div>